{% extends 'base.html.twig' %}

{% block title %}{{hairdresser.user.fullName}}{% endblock %}
{% block headerImg %}<img src="{{asset('assets/uploads/pictures/' ~ hairdresser.picture.name) }}" alt="{{ hairdresser.user.fullName }}">{% endblock %}
{%  block CssHeader %}ca-hairdresser-show{%  endblock%}
{% block headerH1 %} <h1 class="h2 ca-h1 mx-auto text-center">{{hairdresser.user.fullName}}</h1>{% endblock %}
 {% block headerPara %}
     <ul>
         {% for hairspeciality in hairdresser.specialities %}
             <li>
                 <a href="{{ path('speciality_show', {id:hairspeciality.id}) }}">
                     {{ hairspeciality.nameSpeciality }}
                 </a>
             </li>
        {% endfor %}
     </ul>

 {% endblock %}
{% block body %}

{#<a href="{{ path('hairdresser_edit', { id: hairdresser.id }) }}">edit</a>#}
{% endblock %}