<hr class="my-4 ca-rotation">
<footer>
    <section class="ca-section-footer mt-5 d-flex">
        <article class="ca-columns-footer c-dflex-columns">
            <ul class="navbar-footer">
                <li class="">
                    <a class="ca-link" aria-current="page" href="{{ path('home_index') }}">Home</a>
                </li>
                <li class="">
                    <a class="ca-link" aria-current="page" href="{{ path('book_index') }}">Notre Books</a>
                </li>
                <li class="">
                    <a class="ca-link" href="{{ path('speciality_index') }}">Nos tarifs</a>
                </li>


            </ul>
        </article>
        <article class="ca-columns-footer c-dflex-columns">
            <ul class="navbar-footer">
                <li class="">
                    <a class="ca-link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="">
                    <a class="ca-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>

            </ul>
        </article>
        <article class="ca-columns-footer c-dflex-columns">
            <ul class="navbar-footer">
                <li class="">
                    <a class="ca-link" href="https://goo.gl/maps/mDexdswLLa288eRRA">Salon Adeline</a>
                </li>
            <li class="text-center">

                <a class="ca-link text-center" href="https://goo.gl/maps/mDexdswLLa288eRRA">12 Pl. des Grands Hommes - 33000 Bx</a>
            </li>
                <li class="text-center">

                    <a class="ca-link text-center" href="https://goo.gl/maps/mDexdswLLa288eRRA">Tel: 06 06 10 20 20</a>
                </li>
            </ul>
        </article>
    </section>


</footer>