<hr class="my-4 ca-rotation">
<footer>
    <section class="ca-section-footer mt-5 d-flex">
        <article class="ca-columns-footer c-dflex-columns">
            <ul class="navbar-footer">
                <li class="">
                    <a class="ca-link" aria-current="page" href="{{ path('book_index') }}">Notre Books</a>
                </li>
                <li class="">
                    <a class="ca-link" href="{{ path('speciality_index') }}">Nos tarifs</a>
                </li>
                <li class="">
                    <a class="ca-link" href="#">Le salon</a>
                </li>

            </ul>
        </article>
        <article class="ca-columns-footer c-dflex-columns">
            <ul class="navbar-footer">
                <li class="">
                    <a class="ca-link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="">
                    <a class="ca-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                <li class="">
                    <a class="ca-link" href="#">Le salon</a>
                </li>

            </ul>
        </article>
        <article class="ca-columns-footer c-dflex-columns map-footer">
            <a href="https://goo.gl/maps/mDexdswLLa288eRRA">
            <img src="{{ asset('assets/uploads/pictures/ca-map.jpg') }}" alt=""></a>
            <div class="ca-adress">Salon Adeline <br>12 Pl. des Grands Hommes <br>33000 Bordeaux</div>
        </article>
    </section>


</footer>