{{ form_start(form) }}
         {{ form_row(form.nameSpeciality) }}
            {{ form_row(form.content) }}
            {{ form_row(form.duration) }}
            {{ form_row(form.rate) }}
         {% if speciality.id is empty %}
             {# Champ obligatoire pour la création #}
             {{ form_row(form.picture, { 'attr': {'required': 'required'} }) }}
         {% else %}
             {# Champ facultatif pour l'édition #}
             {{ form_row(form.picture) }}
         {% endif %}

<div id="image-container">
    <!-- L'emplacement pour les images prévisualisées -->
</div>

<div class="ca-form-btn">
    <button type="submit" class="btn pulse ca-btn">{{ button_label|default('Valider') }}</button>
    {{ form_end(form) }}
</div>

