{% extends 'base.html.twig' %}

{% block title %}{{speciality.nameSpeciality}}{% endblock %}

{% block body %}
    <h1>{{speciality.nameSpeciality}}</h1>

   <p> {{ speciality.content }}</p>
   <p>{{ speciality.duration }} min</p>
{% if speciality.picture %}
         <img src="{{asset('assets/uploads/pictures/mini/300x300-' ~ speciality.picture.name) }}" alt="">
{% endif %}

    <<a href="{{ path('speciality_edit', { id: speciality.id }) }}">edit</a>
{% endblock %}