{% extends 'base.html.twig' %}

{% block title %}Toutes nos créations{% endblock %}

{% block body %}
<h1 class="BookController">Voici toutes nos créations</h1>
{% for book in books %}
    <a href="{{ path('book_show', { id: book.id }) }}">{{ book.titleBook }}</a>

    {{ book.content }}

        <img src="{{asset('assets/uploads/pictures/mini/300x300-' ~ book.pictures[0].name) }}" alt="">
    <a href="{{ path('book_delete',{ id: book.id }) }}">delete</a>
    {% endfor %}

{% endblock %}
