{{ form_start(form) }}
{{ form_widget(form.date) }}
  {{ form_row(form.hairdresser) }}
 {{ form_row(form.speciality) }}


<button class="btn pulse ca-btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}