{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ book.titleBook }}{% endblock %}
{%  block CssHeader %}{{ parent() }} ca-form-header{%  endblock %}
{% block headerH1 %}<h1 class="h3 mb-3 ca-h1-form pt-3">Modifiez {{ book.titleBook }}</h1>{% endblock %}
 {% block headerImg %}<div id="image-container">
     <!-- L'emplacement pour les images prévisualisées -->
 </div>{% endblock %}
{% block headerReservation %}{% endblock %}
  {% block headerPara %}
      <div class="ca-retour"><a href="{{ path("admin_book_new") }}">Retour</a> </div>
      {{ include('admin/book/_form.html.twig', {'button_label': 'mettre à jour'}) }}

  {% endblock %}
{% block body %}

    <div class="d-flex">
        {% for image in book.pictures %}
            <div class="ca-box-book">
                <div class="c-dflex-columns ">

                    <img class="ca-mini-img-admin" src="{{ asset('assets/uploads/pictures/mini/300x300-' ~ image.name) }}" alt="">
                    <a href="{{ path('pictures_delete', {id: image.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}