{{ form_start(form) }}

         {{ form_row(form) }}


 {% if hairdresser.id is empty %}
     {# Champ obligatoire pour la création #}
     {{ form_row(form.picture, { 'attr': {'required': 'required'} }) }}
 {% else %}
     {# Champ facultatif pour l'édition #}
     {{ form_row(form.picture) }}
 {% endif %}


<div id="image-container">
    <!-- L'emplacement pour les images prévisualisées -->
</div>

<button class="iv-btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}